html {
	height: 100%;
}

body {
	height: 95%;
	width: 500px;
}

h1 {
	font-family: "Impact";
	font-size: 2em;
}

#jeu {
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 0.5em;
}

#question {
	margin-top: 1em;
	display: table-row;
	height: auto;
}

#question .cadre {
	background-color: yellow;
	border-radius: 3em;
	padding: 1em;
	text-align: center;
	display: table-cell;
}

#score {
	display: table-row;
	height: 10em;
}

#score .cadre {
	color: white;
	background-color: blue;
	border-radius: 3em;
	padding: 1em;
	margin-top: 1em;
	text-align: center;
	display: table-cell;
}

#score a {
	color: white;
}

#score-bon {
	background-image: url(../images/smiley-bon.png);
	background-repeat: no-repeat;
	color: #00cb43;
	display: inline;
	padding-left: 60px;
	padding-top: 10px;
	height: 50px;
	width: 70px;
	vertical-align: middle;
	font-size:2em;
	
}

#score-mauvais {
	background-image: url(../images/smiley-mauvais.png);
	background-repeat: no-repeat;
	color: #a00202;
	display: inline;
	padding-left: 60px;
	padding-top: 10px;
	height: 50px;
	width: 70px;
	vertical-align: middle;
	font-size:2em;
	margin-left: 2em;
}

#resultat-mauvais {
	color: red;
	display: none;
}

#parametres {
	display: none;
	position: absolute;
	border-radius: 3em;
	padding: 1em;
	background-color: grey;
	border: 2px black solid;
}

#menu {
	margin: 1em;
	height: 1em;
	display: table-row;
}

#menu a {
	background-color: green;
	color: white;
	border-radius: 1em;
	padding: 0.3em;
}